/* ====== CSS GRID SYSTEM ====== */

/* GRID COLUMN SETUP */
.container {
 width : 100%;
 max-width : 950px; 
 text-align: center;
 margin: 0 auto;
}

.col {
 display: block;
 float:left;
 margin: 1% 1% 1% 1%;
 background-color: #4FB954;
 border: 1px solid;
}

/* GRID OF TWO */
.span_2_of_2 {
 width: 100%;
 height: 50px;
}

.span_1_of_2 {
 width: 49.2%;
 height: 50px;
}

/* GRID OF THREE */
.span_3_of_3 {
 width: 95.6%;
 height: 50px;
}

.span_2_of_3 {
 width: 70.8%;
 height: 50px;
}

.span_1_of_3 {
 width: 30.26%;
 height: 50px;
}

/* GRID OF FOUR */
.span_4_of_4 {
 width: 95.6%;
 height: 50px;
}

.span_3_of_4 {
 width: 74.6%;
 height: 50px;
}

.span_2_of_4 {
 width: 46.8%;
 height: 50px;
}

.span_1_of_4 {
 width: 22.8%;
 height: 50px;
}

/* REMOVE MARGINS AND GO FULL WIDTH AT LESS THAN 480 PIXELS */

@media only screen and (max-width: 480px) {
  .col { 
  margin: 1%;
 }

 /* GRID OF TWO */
 .span_2_of_2 {
  width: 95.6%;
 }

 .span_1_of_2 {
  width: 100%; 
 }

/* GRID OF THREE */
 .span_3_of_3 {
  width: 100%; 
 }

 .span_2_of_3 {
  width: 100%; 
 }

 .span_1_of_3 {
  width: 100%;
 }

/* GRID OF FOUR */
 .span_4_of_4 {
  width: 100%; 
 }

 .span_3_of_4 {
  width: 100%; 
 }

 .span_2_of_4 {
  width: 100%; 
 }

 .span_1_of_4 {
  width: 100%;
 }
 
 span.col.span_1_of_4.qCounter {
  background-size: 30% !important;
  padding-top: 35px !important;
  height: 95px !important;
 }

 #qNumber {
  width: 23.8%;
 }

 #logo {
    width: 100% !important;
  }
}
/* ====== END CSS GRID SYSTEM ====== */

body {
background: url("../images/computer.jpg") no-repeat center center;
}

#reset {
  display: none;
}

#logo {
 width: 70.8%;
 display: block;
 float: left;
 margin: 1% 1% 1% 1%;
 height: 160px;
}

#logo > a > img {
  height: 160px;
  width: auto;
}

.qCounter {
 font-weight: bold;
 font-size: 60px;
}

span.col.span_4_of_4 {
  padding-top: 28px;
}

.col.span_1_of_3.prevQuestion, .col.span_1_of_3.quizStatus {
  padding-top: 15px;
  height: 33px;
}

span.col.span_1_of_4.qCounter {
  padding-top: 50px;
  height: 110px;
  background: url("../images/green-circle-button.png") no-repeat center center;
  background-color: transparent;
  background-size: 75%;
  border: hidden;
}

@media only screen and (max-width: 630px) {
  #logo {
    height: 160px;
    width: 480px;
  }
}